.chuckTitle {
  text-align: center;
  font-size: 2em;
}
h2{
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 1.1em;
}
p{
  padding-bottom: 20px;
}

img {
  max-height: 200px;
  margin: auto;
  display: block;
  padding-bottom: 10px;
}
