.fa-bars {
  float: left;
  margin-top: -33px;
  display: inline;
}

.tabs {
  font-size: 1.2em;
}
.main-nav ul{
  display: block;
  padding-bottom: 5px;
}
/*.main-nav:hover ul{
  display: block;
}*/
.socialMedia ul{
  float: right;
  margin-top: -31px;
  outline: 1px solid red;
}
.socialMediaIcon {
  display:inline;
  padding: 5px;
}

.projectInfo{
  margin-top: 24px;
}

.projectInfoCategory{
  font-style: italic;
}
.pNoPadding {
  padding: 0px;
}
@media only screen and (min-width: 500px){
  .main-nav ul{
    float: left;
    display: block;
    padding-right: 20px;
    max-width: 150px;
    background-color: none;
  }
  .social{
    /*display: none;*/
  }
}
